<h2>Add your comment</h2>
 <%= form_with model: @post, url: user_posts_path, method: :post, local: true do |form| %>
   <%= form.text_area :text, placeholder: 'Your comment' %><br><br>
  <%= form.submit 'Post Comment' %><br><br>
<% end %>

    <%
=begin%>
 <%= form_with model: @post, url: user_posts_path, method: :post, scope: :post do |form| %> 
<%
=end%>
