<h1>Here is the page for a specific user</h1>
<div class="user-id-section-1">
    <%= render partial: "shared/username", locals: {user: @user} %>
</div>

<div class="user-id-section-2-bio">
    <p>Bio</p>
    <%
=begin%>
 <p><%= user.bio %></p> 
<%
=end%>
    <p>user.bio</p>
</div>

<div class="user-id-section-3-post">
    <p>Section 3, post number - description - comment numbers - likes numbers</p>
    <p>Post</p><span>post.id</span>
</div>
<div>
    <p>Section 4, post number - description - comment numbers - likes numbers</p>
</div>
<div>
    <p>Section 5, post number - description - comment numbers - likes numbers</p>
</div>


