<div class="card mb-3" >
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag "user-image.png", alt: "User's photo", :class => "img-fluid rounded-start" %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title opo"><%= user.name %></h2> 
        <h3 class="card-text">number of posts: </h3>
        <p class="card-text"><small class="text-muted"><%= user.posts_counter %></small></p> 
      </div>
    </div>
  </div>
</div>
