<h1>Here is the posts for a specific user</h1>
<div>
    <p>Section 1, user image - user name - number of post</p>
</div>
<div>
    <p>Section 2, post number - description - comment numbers - likes numbers</p>
</div>
<div>
    <p>Section 3, username - comment number</p>
</div>
<div>
    <p>Section 4, post number - description - comment numbers - likes numbers</p>
</div>
<div>
    <p>Section 5, username - comment number</p>
</div>
<div>
<button>submit button</button>
</div>


