<h1>New Post</h1>

<%= form_with model: post, url: user_posts_path, method: :post, local: true, scope: :post do %>

  <div>
     :question<br>
    :question %>
  </div>

  <div>
    :answer %><br>
    :answer %>
  </div>

  <div>
    :distractor_1 %><br>
    :distractor_1 %>
  </div>

  <div>
    :distractor_2 %><br>
    :distractor_2 %>
  </div>

   "Add Question" %>
<% end %>