<h1>Here is the page for a specific post</h1>
<div>
    <p>Section 1, post number - comment numbers - likes numbers - description</p>
</div>
<div>
    <p>Section 2, username - comment number</p>
</div>
