@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */

.topic {
  color: #14171a;
}

.centro-user-show-button,
.centro-post-index-button {
  display: flex;
  justify-content: center;
}

.post-show-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.block_form {
  width: 90%;
  min-height: 20px;
  margin: auto;
}

.block_form form input {
  width: 98%;
  height: 30px;
  padding: 8px;
}

.block_form form .field {
  margin-top: 30px;
}

.block_form form input[type=submit] {
  box-shadow: 8px 8px 5px #000;
  background-color: white;
  line-height: 10px;
  border: 1px solid #000;
  margin-bottom: 12px;
}

.block_form form input[type=checkbox] {
  width: 20px !important;
  margin: 0 !important;
}

.block_form form input[type=password] {
  margin-bottom: 10px !important;
}
